@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans&family=Permanent+Marker&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}
nav a {
    text-align: center;
    color:#34d6ff;
    font-family: 'PT Sans';
    font-size: 30px;
    text-decoration: none;
    padding: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav a:hover {
    background-color:#039dda;
    color:rgb(236, 154, 61);
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    color:white;
    font-family: 'Nothing You Could Do';
    font-size: 28px;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(255, 255, 255);
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color:#0870a0;
    display: grid;
    grid-template-columns: 200px auto;
}
.book {
    position: relative;
    top: 50px;
}
.book {
    background-color:rgb(75, 105, 206);
    color:black;
    text-decoration: none;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color:rgb(116, 153, 255);
    color:black
}
.join {
    background-color:rgb(0, 94, 131);
    color:black;
    text-decoration: none;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color:rgb(54, 198, 255);
    color:black
}
#background {
    background-color:#ffa641;
    grid-column: 1/19;
    grid-row: 8/12;
    margin-bottom: 0;
}
#background-2 {
    background-color:#ffa641;
    grid-column: 1/19;
    grid-row: 8/20;
    margin-bottom: -100px;
    margin-top: 25px;
}
#background-orange {
    background-color:#ffa641;
    grid-column: 1/25;
    grid-row: 8/40;
    margin-bottom: -80px;
    margin-top: 25px;
}
#background-andromeda {
    background-color:#7c4c15;
    grid-column: 6/25;
    grid-row: 8/14;
    margin-top: 25px;
}
.msg {
    background-color:rgb(144, 229, 255);
    line-height: 1.9em;
    padding: 35px;
    grid-column: 6/11;
    grid-row: 9/11;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 80%;
    margin-top: 5%;
}
.msg7 {
    line-height: 1.3em;
    padding: 35px;
    grid-column: 6/9;
    grid-row: 9/14;
    height: 100%;
    margin-top: 5%;
    text-align: center;
}
.msg7 h1 {
    color:#471d00;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 60px;
    margin-bottom: 50px;
}
.msg7 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
.msggalaxy {
    line-height: 2.5em;
    padding: 35px;
    grid-column: 6/9;
    grid-row: 15/16;
    height: 100%;
    margin-top: 100px;
    text-align: center;
}
.msggalaxy h1 {
    color:#a73500;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 60px;
    margin-bottom: 50px;
}
.msggalaxy h3 {
    color:#000000;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-weight: 500;
    font-size: .8em;
    padding: 15px;
}
.msggalaxy p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
    text-shadow: rgb(148, 59, 0) 1px 0 10px;
}
.msggalaxies {
    line-height: 2em;
    padding: 35px;
    grid-column: 1/4;
    grid-row: 9/20;
    height: 100%;
    margin-top: -100;
    text-align: center;
}
.msggalaxies h1 {
    color:#2ae9d9;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 80px;
    margin-bottom: 70px;
    position: relative;
    left: 75px;
    text-shadow: rgb(5, 90, 2) 1px 0 10px;
}
.msggalaxies h3 {
    color:#00524b;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 15px;
    position: relative;
    left: 75px;
    text-shadow: rgb(0, 255, 149) 1px 0 10px;
}
.msggalaxies p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
    position: relative;
    left: 75px;
    text-shadow:
  1px 1px 2px rgb(91, 245, 168), 0 0 1em rgb(25, 25, 190), 0 0 0.2em rgb(255, 158, 163);
}
.msggalaxy2 {
    line-height: 1.3em;
    padding: 35px;
    grid-column: 6/9;
    grid-row: 18/20;
    height: 100%;
    margin-top: 5%;
    text-align: center;
}
.msggalaxy2 h1 {
    color:#471d00;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 60px;
    margin-bottom: 50px;
}
.msggalaxy2 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color:#0870a0;
    color:#34d6ff;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer2 {
    background-color:rgb(103, 181, 184);
    color:#1968b3;
    padding: 0;
    margin-top: 0;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color:rgb(255, 143, 62);
    font-family:"Nothing You Could Do", "Helvitica", sanserif;
    font-size: 4em;
    margin-top: 100px;
}
.home-titles {
    color:rgb(52, 198, 235);
    font-family:"Nothing You Could Do", "Helvitica", sanserif;
    font-size: 4em;
    margin-top: 80px;
}
.home-titles h3 {
    color: #ffffff;
    font-size: 19px;
    font-family: "PT Sans";
    position: relative;
    top: 25px;
    text-shadow: 1px 1px 2px rgb(255, 77, 77), 0 0 1em rgb(0, 25, 136), 0 0 0.2em rgb(14, 116, 199);
}
.deepspace-intro {
    color:rgb(142, 238, 255);
    font-family:"Nothing You Could Do", "Helvitica", sanserif;
    font-size: 4em;
    margin-top: 100px;
}
.deepspace-intro p {
    color: #ffffff;
    font-size: 22px;
    font-family: "PT Sans";
    position: relative;
    top: 75px;
    text-shadow: rgb(0, 143, 119) 1px 0 10px;
}
.msg7 {
    line-height: 1.3em;
    padding: 35px;
    grid-column: 6/9;
    grid-row: 9/14;
    height: 100%;
    margin-top: 5%;
    text-align: center;
}
.msg7 h1 {
    color:#471d00;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 60px;
    margin-bottom: 50px;
}
.msg7 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
h4 {
    color:black
}
.msg h1 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 50px;
}
.msg p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg5 h1 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 50px;
}
.msg5 h3 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 28px;
}
.msg5 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg6 h3 {
    color:#552201;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 28px;
    text-align: center;
}
.msg6 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
    text-align: center;
}
footer a {
    color:#000000;
    text-decoration: none;
}
footer a:hover {
    color:rgb(236, 154, 61);
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
.logo {
    width: 140px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .stars-card, .nebula-card{
    margin: 50px 0;
}
.card-img {
    border: 10px solid #00649e;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 450px;
    width: 150px;
}
.card-img2 {
    transition: transform .5s;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 450px;
    width: 820px;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
}
#hero-img {
    width: 100%;
    -webkit-filter:contrast(50%);
    filter:saturate(120%);
    filter:contrast(100%)
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-bottom: 0;
}
.card-img, .mountains {
    width: 150%;
}
.msg5 {
    grid-column: 1/7;
    grid-row: 2/7;
    background-color:rgb(198, 242, 255);
    box-shadow: 5px 5px 10px #424242;
    line-height: 2em;
    width: 100%;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.msgnebula {
    grid-column: 4/10;
    grid-row: 2/5;
    background-color:rgb(198, 242, 255);
    box-shadow: 5px 5px 10px #424242;
    line-height: 2.8em;
    width: 100%;
    padding: 10px;
    margin: 20px;
    text-align: center;
    position:relative;
    left: -50px;
}
.msgnebula h1 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 50px;
}
.msgnebula h3 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 28px;
}
.msgnebula p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 1px;
}
.msgstars {
    grid-column: 1/1;
    grid-row: 3/4;
    background-color:rgb(198, 242, 255);
    box-shadow: 5px 5px 10px #424242;
    line-height: 1.5em;
    width: 130%;
    padding: 10px;
    margin: 25px;
    margin-top: 0;
    text-align: center;
}
.msgstars h1 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 50px;
}
.msgstars h3 {
    color:#0c2044;
    font-family: "Nothing You Could Do", "Helvitica", sanserif;
    font-size: 28px;
}
.msgstars p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg6 {
    grid-column: 8/13;
    grid-row: 3/7;
    background-color:rgb(255, 202, 159);
    box-shadow: 5px 5px 10px #424242;
    line-height: 2.5em;
    width: 770px;
    padding: 5px;
    margin: 20px;
    text-align: center;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.stars-card {
    grid-column: 8/9;
    grid-row: 2/5;
    width: 300px;
}
.stars-card2 {
    grid-column: 8/12;
    grid-row: 2/3;
    margin-top: 20px;
}
.nebula-card {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 20px;
}
.card-img3 {
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 700px;
    width: 750px;
}
.mountains {
    grid-column: 2/6;
    grid-row: 9/13;
    width: 130%;
    height: 75%;
    box-shadow: 5px 5px 10px #3f3f3f;
}
.orion {
    grid-column: 2/5;
    grid-row: 10/13;
    width: 130%;
    height: 120%;
    box-shadow: 5px 5px 10px #3f3f3f;
}
.stellar {
    grid-column: 6/9;
    grid-row: 8/15;
    width: 105%;
    height: 100%;
    box-shadow: 5px 5px 10px #141414;
    margin-top: 55px;
}
.defined {
    grid-column: 9/12;
    grid-row: 10/13;
    width: 110%;
    height: 120%;
    box-shadow: 5px 5px 10px #3f3f3f;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1/4fr 1/2fr 2.5fr 1fr 1fr 1/2fr 1/2fr 1/2fr;
    grid-template-rows: 1fr 1/2fr 3fr 1/4fr 1/2fr 1fr 1fr 1/2fr 3fr 1/2fr 1fr 1/4fr 1/2fr 1/2fr 1/2fr 1fr 1fr;
}
.rivers-grid {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr 1.4fr 1.4fr 0.8fr 1.1fr 1.5fr 1.9fr 0.3fr 0.6fr;
    grid-template-rows: 0.1fr 0.4fr 1.4fr;
    width: 100%;
}
.home-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1/2fr 1/4fr 1fr 1fr 1/2fr 3fr 1/2fr 1/2fr 1/2fr 1/2fr 1fr 1fr 1fr 1fr 1fr 1fr 1/2fr 1/2fr 1/2fr 1fr;
}
.home-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1/2fr 1/4fr 2.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1/2fr 1fr 1fr 1fr 1/2fr 3fr 1/2fr 1/2fr 1/2fr 1/2fr 1fr 1fr;
}
.grandcanyon {
    grid-column: 3/5;
    grid-row: 1/3;
    width: 150%;
    box-shadow: 5px 5px 10px #292b26;
    margin: 0;
}
.salmonriver {
    grid-column: 6/9;
    grid-row: 2/3;
    width: 110%;
    align-self: center;
    height: 90%;
    box-shadow: 5px 5px 10px #21221e;
}
#hero-msg2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box2 {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-img2 {
    width: 100%;
}
.msg2 {
    background-color:rgb(188, 236, 236);
    line-height: 2em;
    padding: 35px;
    grid-column: 7/9;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #33352e;
    align-content:center;
}
.msg2 h2 {
    color:#0c4044;
    font-family: "Rock Salt", "Helvitica", sanserif;
    font-size: 2.5em;
}
.msg2 h4 {
    color:#0c4044;
    font-family: "Rock Salt", "Helvitica", sansserif;
    font-size: 1.3em;
}
.msg2 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .9em;
    padding-bottom: 15px;
}
.msg3 {
    position: relative;
    background-color: #ffcb90;
    line-height: 28px;
    width: 600px;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #383a32;
}
.msg3 h2 {
    color:#5f1103;
    font-family: "Rock Salt", "Helvitica", sanserif;
    font-size: 2.5em;
}
.msg3 h4 {
    color:#5f1103;
    font-family: "Rock Salt", "Helvitica", sansserif;
    font-size: 1.3em;
}
.msg3 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg4 {
    
    background-color: rgb(188, 236, 236);
    line-height: 50px;
    padding: 100px;
    grid-column: 3/9;
    grid-row: 3/7;
    box-shadow: 5px 5px 10px #383a32;
    height: 95%;
}
.msg4 h1 {
    color:#0c4044;
    font-family: "Rock Salt", "Helvitica", sanserif;
    font-size: 2.5em;
}
.msg4 h2 {
    color: #0c4044;
    font-family: "Rock Salt", "Helvitica", sanserif;
}
.msg4 h4 {
    color:#0c4044;
    font-family: "Rock Salt", "Helvitica", sansserif;
}
.msg4 p {
    color:black;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 15px;
}
#background2 {
    background-color:#ffa450;
    grid-column: 1/11;
    grid-row: 1/2;
}
#background3 {
    background-color:#2e979e;
    grid-column: 1/11;
    grid-row: 2/3;
}
#background4 {
    background-color:#fdb058;
    grid-column: 1/11;
    grid-row: 3/7;
    height: 103%;
}
.home-title2 {
    color:rgb(255, 128, 38);
    font-family:"Rock Salt", "Helvitica", sanserif;
    font-size: 3em;
    margin-top: 10px;
}
* {
    margin-bottom: 0;
}
/* Contact us css below */
body {
  /* Center the form on the page */
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  margin: 0 auto;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 1em;
}
div + div {
    margin-top: 1em;
}
p + p {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  --paragraph-font: Helvetica, sans-serif;
  font-size: .9em;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
    background-color: rgb(130, 240, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
#background100 {
    background-color: #ffd5a5;
    grid-column: 1/11;
    grid-row: 1/10;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: rgb(255, 143, 62);
    }
    .home-title {
        font-size: 25px;
    }
    .home-title2 {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}