@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans&family=Permanent+Marker&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}
nav a {
    text-align: center;
    color:#ad9610;
    font-family: 'PT Sans';
    font-size: 30px;
    text-decoration: none;
    padding: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav a:hover {
    background-color:#ebc60f;
    color:#4183ff;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(255, 255, 255);
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#f5df1a;
    display: grid;
    grid-template-columns: 200px auto;
}
.join {
    background-color:rgb(0, 94, 131);
    color:black;
    text-decoration: none;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color:rgb(54, 198, 255);
    color:black
}
footer {
    background-color:#f5df1a;
    color:#497aff;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#ad9610;
    text-decoration: none;
}
footer a:hover {
    color:#4183ff;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
.logo {
    width: 140px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: rgb(255, 143, 62);
    }
    .home-title {
        font-size: 25px;
    }
    .home-title2 {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}