@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Story+Script&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}
nav a {
    text-align: center;
    color:#0038a0;
    font-family: 'PT Sans';
    font-size: 30px;
    text-decoration: none;
    padding: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav a:hover {
    background-color:#f3b124;
    color:#ffffff;
}
main section {
    text-align: center;
}
#background {
    height: 900px;
}
body {
    background-color:rgb(255, 255, 255);
    font-family: Roboto, "Helvitica", sanserif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#3dc8ff;
    display: grid;
    grid-template-columns: 200px auto;
}
.join {
    background-color:rgb(0, 94, 131);
    color:black;
    text-decoration: none;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color:rgb(54, 198, 255);
    color:black
}
footer {
    background-color:#3dc8ff;
    color:#00329e;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#012c88;
    text-decoration: none;
}
footer a:hover {
    color:#ffffff;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
.logo {
    width: 140px;
    height: 140px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
    padding: 5px;
    height: 74px;
    width: 74px;
}
.home-grid3 {
    display: grid;
    grid-template-columns: 40px 40px 530px 34.5px 25.5px 17.2px 38.2px 33.2px 87px 36.6px 50px 29px 68.3px 35.3px 35.3px 50px 50px 30px 30px 30px 40px 45px 40px 50px 50px;
    grid-template-rows: 40px 40px 86.5px 0.1px 0.1px 37px 133px 29px 27px 26px 30px 85px 17px 18px 50px 50px 30px 29.7px 60.3px 38.5px 37px 115px 60px 248px 50px 50px 30px 40px 30px 25px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 0px 0px;
}
.card-img1 {
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 600px;
    width: 500px;
}
.nebula-card {
    grid-column: 2/5;
    grid-row: 2/10;
}
.snowflake {
    grid-column: 6/10;
    grid-row: 31/40;
}
.msg1 {
    grid-column: 7/12;
    grid-row: 3/4;
    line-height: 2.2em;
    width: 750px;
    height: 300px;
    padding: 30px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}
.orange-msg {
    width: 160px;
    background-color:rgb(248, 182, 95);
    line-height: 1.9em;
    padding: 35px;
    z-index: -1;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 10%;
    grid-column: 14/14;
    grid-row: 15/15;
}
.msg1 h1 {
    color:#4886fa;
    font-family: "Story Script", "Helvitica", sanserif;
    font-size: 50px;
}
.msg1 p {
    color:black;
    font-family: "Roboto", "Helvitica", sanserif;
    font-size: .8em;
    text-align: center;
}
.msg2 {
    grid-column: 7/12;
    grid-row: 3/4;
    line-height: 2.2em;
    width: 750px;
    height: 300px;
    padding: 30px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}
.orange-msg2 {
    width: 490px;
    background-color:rgb(248, 182, 95);
    line-height: 1.9em;
    padding: 35px;
    z-index: -1;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 90%;
    grid-column: 11/14;
    grid-row: 18/25;
}
.orange-msg3 {
    width: 490px;
    background-color:rgb(248, 182, 95);
    line-height: 1.9em;
    padding: 35px;
    z-index: -2;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 90%;
    grid-column: 3/5;
    grid-row: 28/40;
}
.blue-msg1 {
    width: 280px;
    background-color:rgb(95, 230, 248);
    line-height: 1.9em;
    padding: 35px;
    z-index: -1;
    box-shadow: 10px 10px 45px rgb(0, 40, 77) inset,
    5px 5px 15px #383838;
    height: 50%;
    grid-column: 4/8;
    grid-row: 29/40;
}
.orange-msg3 h1 {
    color:#4886fa;
    font-family: "Story Script", "Helvitica", sanserif;
    font-size: 50px;
    line-height: 1.2em;
    margin-top: 0%;
}
.orange-msg3 p {
    color:rgb(255, 255, 255);
    font-family: "Roboto", "Helvitica", sanserif;
    font-size: 1em;
    text-align: center;
    text-shadow: 0 0 4px #d84f00, 0 0 5px #0003ce;
}
.msg2 h1 {
    color:#0c2044;
    font-family: "Story Script", "Helvitica", sanserif;
    font-size: 50px;
}
.msg2 p {
    color:black;
    font-family: "Roboto", "Helvitica", sanserif;
    font-size: .8em;
    text-align: center;
}
.recipeimg {
    grid-column: 10/12;
    grid-row: 19/20;
}
.card-img2 {
    box-shadow: 1px 1px 15px #3f3f3f;
    width: 350px;
    height: 323px;
    z-index: 1;
    
}
/* sign up button */
.join {
    background-color:rgb(17, 154, 245);
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-shadow: 1px 10px 10px rgb(83, 200, 255), 1px 3px 5px rgb(0, 48, 207);
}
.join:hover {
    background-color:rgb(42, 212, 255)s;
    color:black
}
.msg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(248, 182, 95);
    line-height: 1.9em;
    padding: 35px;
    z-index: -1;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 10%;
    margin-top: -150px;
    width: 350px;
}

/* recipe randomizer css */
/* Main Content and Recipe Grid Styling (Mobile First) */
.recipe-grid {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 500px; /* Center content */
    margin: 0 auto;
}
.recipe_card {
    box-shadow: none;
    width: 100%;
    height: 100%;
    max-width: 500px; /* Max width for mobile card */
    grid-column: 13/14;
    grid-row: 7/12;
}
.recipe-card {
    box-shadow: none;
    width: 1200px;
    height: 900px;
    flex-direction: row-reverse;
    grid-column: 10/23;
    grid-row: 19/20;
    gap: 150px;
}
/* .cake-back {
    background-color:rgb(71, 167, 245);
    padding: 35px;
    z-index: -1;
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 700px;
    margin-top: -150px;
    width: 600px;
} */
.recipe-image {
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 600px;
    width: 590px;
    grid-column: 17/18;
    grid-row: 19/20;
    margin-left: 0%;
}

.recipe-info {
    padding: 1.5rem 1rem; /* More vertical padding */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.8em;
    height: 100px;
    margin-right: 230px;
}

/* .recipe-tag {
    background-color: #ffffff;
    padding: 0.3em 0.8em;
    font-size: 0.75em;
    text-transform: uppercase;
    align-self: flex-start; 
    margin-bottom: 0.5rem;
}
*/

.recipe-title {
    font-size: 4rem; /* Larger title */
    margin: 0;
    line-height: 1.2em;
    letter-spacing: 3px;
    font-family: "Story Script", Helvitica, sans-serif; /* Ensure Handlee for title */
    color: #4a90e2; /* Blue color for title as in mockup */
}

.recipe-time {
    display: none; /* Removed from mockup */
}

.recipe-rating {
    margin-bottom: 0.5rem;
}

.rating {
    font-size: 2rem; /* Larger stars */
}

.icon-star {
    color: #f8e71c; /* Yellow color for filled stars */
}

.icon-star-empty {
    color: #c7c7c7; /* Lighter grey for empty stars */
}

.recipe-description {
    /* Always show as per mockup, but styling needs adjustment for responsiveness */
    display: block; 
    font-size: 1.3rem;
    font-family: Roboto, Helvitica, sans-serif;;
    color: #000000;
    margin-top: 0.5rem;
    margin-left: 0px;
    grid-row: 7/13;
    grid-column: 3/8;
    text-align: center;
}

.view-recipe-button {
    display: none; /* Removed from mockup */
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
}
/* Breakpoint 1: Tablet/Small Desktop (approx. 600px -> using 768px for a clearer split) */
@media (min-width: 768px) {
    .recipe-grid {
        padding: 2rem 1rem;
        justify-content: center;
    }

    .recipe-card {
        display: flex; /* Flex layout for image and info side-by-side */
        width: 100%;
        max-width: 800px; /* Full width of content area */
        align-items: stretch; /* Stretch content to fill height */
    }
}
/* No explicit 960px breakpoint needed if 768px handles the main layout, 
   but we can constrain the max width of the elements. */
@media (min-width: 900px) {
    .recipe-card {
        max-width: var(--max-width-desktop);
        margin-left: auto;
        margin-right: auto;
    }
}