@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Story+Script&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}
nav a {
    text-align: center;
    color:#e68e3b;
    font-family: 'PT Sans';
    font-size: 30px;
    text-decoration: none;
    padding: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav a:hover {
    background-color:#ffa43d;
    color:#1b66f0;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color:rgb(255, 255, 255);
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#66d6f0;
    display: grid;
    grid-template-columns: 200px auto;
}
.join {
    background-color:rgb(0, 94, 131);
    color:black;
    text-decoration: none;
    font-family: "PT Sans", "Helvitica", sanserif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color:rgb(54, 198, 255);
    color:black
}
footer {
    background-color:#66d6f0;
    color:#022586;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#e68e3b;
    text-decoration: none;
}
footer a:hover {
    color:#1b66f0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
.logo {
    width: 140px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
    padding: 5px;
}
.home-grid3 {
    display: flex;
}
.card-img3 {
    box-shadow: 5px 5px 10px #4d4d4d;
    height: 600px;
    width: 600px;
}
.nebula-card {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}
.msgnebula {
    display: flex;
    justify-content: space-around;
    line-height: 2.5em;
    width: 52%;
    padding: 30px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}
.msgnebula h1 {
    color:#0c2044;
    font-family: "Story Script", "Helvitica", sanserif;
    font-size: 50px;
}
.msgnebula p {
    color:black;
    font-family: "Roboto", "Helvitica", sanserif;
    font-size: .8em;
    padding-bottom: 1px;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: rgb(255, 143, 62);
    }
    .home-title {
        font-size: 25px;
    }
    .home-title2 {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}